<p id="notice"><%= notice %></p>

<p>
  <strong>Citation key:</strong>
  <%= @inproceeding.citation_key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @inproceeding.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @inproceeding.title %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @inproceeding.booktitle %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inproceeding.year %>
</p>

<% if not @inproceeding.editor.empty? %>
    <p>
      <strong>Editor:</strong>
      <%= @inproceeding.editor %>
    </p>
<% end %>

<% if not @inproceeding.pages.empty? %>
    <p>
      <strong>Pages:</strong>
      <%= @inproceeding.pages %>
    </p>
<% end %>

<% if not @inproceeding.organization.empty? %>
    <p>
      <strong>Organization:</strong>
      <%= @inproceeding.organization %>
    </p>
<% end %>

<% if not @inproceeding.address.empty? %>
    <p>
      <strong>Address:</strong>
      <%= @inproceeding.address %>
    </p>
<% end %>

<% if not @inproceeding.month.empty? %>
    <p>
      <strong>Month:</strong>
      <%= @inproceeding.month %>
    </p>
<% end %>

<% if not @inproceeding.note.empty? %>
    <p>
      <strong>Note:</strong>
      <%= @inproceeding.note %>
    </p>
<% end %>

<% if not @inproceeding.key.empty? %>
    <p>
      <strong>Key:</strong>
      <%= @inproceeding.key %>
    </p>
<% end %>

<h3>In BibTeX format:</h3>

<p>@inproceedings{<%= @inproceeding.citation_key %>,<br>
  author = "<%= @inproceeding.author %>", <br>
  title = "<%= @inproceeding.title %>",<br>
  booktitle = "<%= @inproceeding.booktitle %>",<br>
  year = <%= @inproceeding.year %>, <br>
  <% if not @inproceeding.editor.empty? %> editor = "<%= @inproceeding.editor %>", <br>  <% end %>
  <% if not @inproceeding.pages.empty? %> pages = "<%= @inproceeding.pages %>", <br> <% end %>
  <% if not @inproceeding.organization.empty? %> organization = "<%= @inproceeding.organization %>", <br> <% end %>
  <% if not @inproceeding.address.empty? %> address = "<%= @inproceeding.address %>", <br> <% end %>
  <% if not @inproceeding.month.empty? %> month = "<%= @inproceeding.month %>", <br> <% end %>
  <% if not @inproceeding.note.empty? %> note = "<%= @inproceeding.note %>", <br> <% end %>
  <% if not @inproceeding.key.empty? %> key = "<%= @inproceeding.key %>", <br> <% end %>
  }
</p>

<%= link_to 'Edit', edit_inproceeding_path(@inproceeding) %> |
<%= link_to 'Back', inproceedings_path %>
